@model MvcCms.Models.Post

@if (ViewBag.IsIndex)
{

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">@(Model.Content.Length > 150 ? Model.Content.Substring(0, 150) + "..." : Model.Content)</p>
            @Html.ActionLink(Model.Title, "post", new { controller = "home", postId = Model.Id }, new { @class = "btn btn-primary" })
        </div>
    </div>
    <h2></h2>
}
else
{
    <div class="container">
        <h2>@Model.Title</h2>
        <p>@Html.Raw(Model.Content)</p>
        <p>By: @Model.Author.DisplayName</p>
        @{
            if (!string.IsNullOrEmpty(Model.Tags[0]))
            {
                <p>Tags: @Html.Partial("_renderTags", Model.Tags)</p>
            }
        }
        
        @Html.ActionLink("Return", "Index", "Home")
    </div>

}